@mixin tml-item($theme, $config) {
  $dot-line-width: 2px;
  $dot-item-width: mat-font-size($config, title);
  $accent: map-get($theme, accent);

  .tml-item-hour {
    border-radius: 30px;
    background-color: mat-color($accent, 100);
    color: mat-color($accent, 800);
    padding: map-get($spacers, 1) map-get($spacers, 2);
  }

  .tml-item-dot-line {
    position: relative;
    margin: 0 map-get($spacers, 3);
    border-left: $dot-line-width dashed mat-color($accent);

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: $dot-line-width;
      background: $body-color;
      left: -$dot-line-width;
      height: $dot-line-width*2;
    }
    &:after {
      box-sizing: border-box;
      content: "";
      display: block;
      width: $dot-item-width;
      height: $dot-item-width;
      position: absolute;
      top: $dot-line-width*2;
      left: -($dot-item-width+$dot-line-width)/2;
      background: $body-color;
      border: $dot-line-width solid mat-color($accent);
      border-radius: 50%;
    }
  }

  .tml-item-title {
    font-size: mat-font-size($config, title);
  }

  .tml-item-view {
    .tml-item-title {
      margin-top: $dot-line-width;
    }
    button {
      visibility: hidden;
    }
    &:hover button {
      visibility: visible;
    }
  }
}
