
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
$config: mat-typography-config();

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$timeline-app-primary: mat-palette($mat-grey, 700);
$timeline-app-accent: mat-palette($mat-teal, 400);

// Create the theme object (a Sass map containing all of the palettes).
$timeline-app-theme: mat-light-theme($timeline-app-primary, $timeline-app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($timeline-app-theme);

/* Import some Bootstrap utilities */
// TODO: Adapt bootstrap utilities with flex-layout and material definitions
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$black: #000;
$white: #fff;
$body-color: $white;
$theme-colors: (
  "primary":    mat-color($mat-grey, 700),
  "secondary":  mat-color($mat-teal, 400)
);

$text-muted: mat-color($mat-grey, 800);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
);

@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/mixins/hover';
@import '~bootstrap/scss/mixins/text-emphasis';
@import '~bootstrap/scss/mixins/text-hide';
@import '~bootstrap/scss/mixins/text-truncate';
@import '~bootstrap/scss/mixins/visibility';
@import '~bootstrap/scss/utilities/align';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/visibility';

/* Global styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Material styles overrides */
.tml-no-label .mat-form-field-infix {
  border-top-width: 0px;
}
.tml-no-hint .mat-form-field-wrapper {
  padding-bottom: 0px;
}

/* Import custom app mixins */
@import 'app/timeline/timeline-item/timeline-item.component';
@include tml-item($timeline-app-theme, $config);